# Dependencias
node_modules/
venv/
__pycache__/
*.pyc

# Archivos de entorno
.env
.env.local

# Modelos grandes (si pesan mucho, opcional)
*.pkl
*.h5
*.joblib

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.log

# OS
.DS_Store
Thumbs.db

# Vite cache
frontend/.vite/

# Imágenes locales de arrecifes
frontend/src/assets/reefs/